.order-preview {
    padding: 80px 15px;
    text-align: center;
    h1 {
        color: var(--White, var(--color-grey-100, #FEFEFE));
        text-align: center;
        font-family: Unbounded;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 24px;
        b {
            color: #FFED00;
        }
        @media(max-width:600px) {
             font-size: 48px;
        }
    }
    p {
        color: var(--Gray-Chateau, var(--color-azure-65, #9CA3AF));
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}
//
.order-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media(max-width:1200px) {
        gap: 16px;
    }
}
.order-inputs {
    width: 67%;
    @media(max-width:1200px) {
        width: 100%;
    }
    .order__container {
        padding: 40px;
        border-radius: 32px;
        border: 1px solid rgba(21, 21, 21, 0.50);
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(5px);
        @media(max-width:630px) {
            padding: 24px;
        }
    }
    .order__title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        p {
            color: var(--White, #FEFEFE);
            font-family: Unbounded;
            font-size: 33px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            @media(max-width:630px) {
                font-size: 20px;
            }
        }
    }
    .order__number {
        border-radius: 1000px;
        background: var(--Accent-color-1, #E41F25);
        margin-right: 16px;
        width: 50px;
        height: 50px;
        color: var(--White, #FEFEFE);
        font-family: Unbounded;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:630px) {
            font-size: 20px;
            width: 33px;
            height: 33px;
        }
    }
    .order__form__side {
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media(max-width:630px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .input-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        label {
            color: #888;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            @media(max-width:630px) {
                font-size: 12px;
            }
        }
        input,textarea {resize: none;
            padding: 16px;
            border-radius: 15px;
            border: 1px solid rgba(107, 114, 128, 0.10);
            background: rgba(254, 254, 254, 0.05);
            color: #FEFEFE;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            outline: none;
            &::placeholder {
                color: rgba(254, 254, 254, 0.20);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            &:focus-visible {
                border: 1px solid var(--Accent-color-2, #FFED00);
            }
        }
        .error-message {
            position: absolute;
            top: 100%;
            left: 5px;
            font-size: 10px;
            color: #E41F25;
            font-weight: 800;
        }
    }
    .order__pay {
        padding: 16px;
        border-radius: 15px;
        border: 1px solid var(--Accent-color-2, #FFED00);
        background: rgba(255, 237, 0, 0.05);
        display: flex;
        gap: 12px;
        p {
            color: var(--White, #FEFEFE);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media(max-width:630px) {
                font-size: 14px;
            }
        }
    }
}
.delivery-choose {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    p {
        color: var(--White, #FEFEFE);
        font-family: Unbounded;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        strong {
            font-weight: 800;
        }
    }
}
.order__title__error {
    font-size: 10px !important;
    color: #E41F25 !important;
    margin-left: 15px;
    font-weight: 800;
}