.lang {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  z-index: 50;
  border-radius: 4px;
  border: 1px solid rgba(107, 114, 128, 0.50);
  border-top: none;
  background: #0E0E0E;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  &__item {
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 2px;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      background: var(--Accent-color-1, #6868689f);
    }
    svg {
      max-width: max-content;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}