/* layout */
$container-max: 1452px;
$container-padding: 24px;
$container-padding-mobile: 8px;

/* colors */
$white: #fefefe;
$black: #000;
$text-light: #334155;
$text-gray: #64748b;
$text-gray-dark: #0f172a;

/* hover */
$accent: #3b82f6;

/* Glass / overlays */
$glass-bg-80: rgba($white, 0.8);
$glass-bg-60: rgba($white, 0.6);

$accent-bg-50: rgba($accent, 0.5);

// mixins

@mixin nav-text {
  color: $text-light;
  font-family: "Manrope";
  font-size: 21px;
  font-weight: 800;
}

/* breakpoints */
$bp-desktop: 1200px; // desktop
$bp-tablet: 768px; // tablet
$bp-mobile: 600px; // mobile

/* media helpers */
@mixin down($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin up($bp) {
  @media (min-width: $bp) {
    @content;
  }
}
